[Desktop Entry]
Name=ivyTerm
Comment=Terminal with Tmux integration
TryExec=ivyterm
Exec=ivyterm
Icon=com.tomiyou.ivyTerm
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
StartupNotify=true
Keywords=terminal;shell;prompt;command;commandline;tmux;
