.header-margin {
    padding-right: 7px;
}

.separator_container {
    background-color: #000000;
}

separator {
    background-color: white;
    min-width: 2px;
    min-height: 2px;
}

.setting_row {
    padding: 10px 20px;
}

.tmux_window {
    background-color: #420a42;
}
