.header-margin {
    padding-right: 7px;
}

.separator_container {
    background-color: #000000;
}

separator {
    background-color: red;
    min-width: 3px;
    min-height: 3px;
}

.setting_row {
    padding: 10px 20px;
}
