.header-margin {
    padding-right: 7px;
}

paned separator {
    background-color: white;
    min-width: 2px;
    min-height: 2px;
}

.separator_cont_vertical {
    padding: 0px 3px;
    background-color: #000000;
}

.separator_cont_horizontal {
    padding: 3px 0px;
    background-color: #000000;
}

separator {
    background-color: white;
    min-width: 3px;
    min-height: 3px;
}