.header-margin {
    padding-right: 7px;
    color: #2e3436;
    color: #cc0000;
    color: #4e9a06;
    color: #c4a000;
    color: #3465a4;
    color: #75507b;
    color: #06989a;
    color: #d3d7cf;

    color: #555753;
    color: #ef2929;
    color: #8ae234;
    color: #fce94f;
    color: #729fcf;
    color: #ad7fa8;
    color: #34e2e2;
    color: #eeeeec;
}

paned separator {
    background-color: white;
    min-width: 2px;
    min-height: 2px;
}